*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #202124;
  background-position: center;
  font-family: "Google Sans",Roboto,Arial,sans-serif;
}

html{
  font-size: 62.5%;
  color: #e8eaed;
}